<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe <small><i>(Solo modifican lo visual)</i></small></th>
          <th> Salida </th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td> {{nombre}} </td>
          <td> uppercase </td>
          <td> {{nombre | uppercase}} </td>
        </tr>

        <tr>
          <td> {{nombre2}} </td>
          <td> capitalizado (personalizado) </td>
          <td> {{nombre2 | capitalizado }} </td>
        </tr>

        <tr>
          <td> {{nombre}} </td>
          <td> lowercase </td>
          <td> {{nombre | lowercase}} </td>
        </tr>

        <tr>
          <td> {{nombre}} </td>
          <td> slice:3 (Corta las primeras 3)</td>
          <td> {{nombre | slice:3}} </td>
        </tr>

        <tr>
          <td> {{nombre}} </td>
          <td> slice:0:8 (Toma entre el 0 y 3l 8)</td>
          <td> {{nombre | slice:0:8}} </td>
        </tr>

        <tr>
          <td> {{arreglo}} </td>
          <td> slice:1:5 (Toma entre el 1 y el 5)</td>
          <td> {{arreglo | slice:1:5}} </td>
        </tr>

        <tr>
          <td> {{ PI }} </td>
          <td> number (Redondeo visual)</td>
          <td> {{ PI | number}} </td>
        </tr>

        <tr>
          <td> {{ PI }} </td>
          <td> number:'1.0-0' (especifico los decimales que quiero ver)</td>
          <td> {{ PI | number:'1.0-0'}} </td>
        </tr>

        <tr>
          <td> {{ PI }} </td>
          <td> number:'3.0-0' (veo 3 posiciones enteras)</td>
          <td> {{ PI | number:'3.0-0'}} </td>
        </tr>

        <tr>
          <td> {{ PI }} </td>
          <td> number:'.0-2' (dame todos los numeros enteros y 2 decimales)</td>
          <td> {{ PI | number:'.0-2'}} </td>
        </tr>

        <tr>
          <td> {{ PI }} </td>
          <td> number:'.0-5' (dame todos los numeros enteros y 5 decimales)</td>
          <td> {{ PI | number:'.0-5'}} </td>
        </tr>

        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent </td>
          <td> {{porcentaje | percent}} </td>
        </tr>

        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent:'2.2-2' </td>
          <td> {{porcentaje | percent:'2.2-2'}} </td>
        </tr>

        <tr>
          <td> {{ salario }} </td>
          <td> currency </td>
          <td> {{ salario | currency }} </td>
        </tr>

        <tr>
          <td> {{ salario }} </td>
          <td> currency:'EUR' </td>
          <td> {{ salario | currency:'EUR' }} </td>
        </tr>

        <tr>
          <td> {{ salario }} </td>
          <td> currency:'ARS ':'symbol' </td>
          <td> {{ salario | currency:'ARS $':'symbol' }} </td>
        </tr>

        <tr>
          <td> {{ salario }} </td>
          <td> currency:'ARS ':'symbol':'.0-0' sin decimales </td>
          <td> {{ salario | currency:'ARS $':'symbol':'.0-0' }} </td>
        </tr>

        <tr>
          <td> {{ valorPromesa }} </td>
          <td> Promesa async </td>
          <td> {{ valorPromesa | async}} </td>
        </tr>

        <tr>
          <td> {{ fecha }} </td>
          <td> date </td>
          <td> {{ fecha | date }} </td>
        </tr>

        <tr>
          <td> {{ fecha }} </td>
          <td> date:'medium' </td>
          <td> {{ fecha |date:'medium' }} </td>
        </tr>

        <tr>
          <td> {{ fecha }} </td>
          <td> date:'short' </td>
          <td> {{ fecha |date:'short' }} </td>
        </tr>

        <tr>
          <td> {{ fecha }} </td>
          <td> date:'MMMM - dd' (Personalizado) </td>
          <td> {{ fecha |date:'MMMM - dd' }} </td>
        </tr>

        <tr>
          <td> {{ fecha }} </td>
          <td> date:'dd - MM - YY' (Personalizado) </td>
          <td> {{ fecha |date:'dd - MM - YYYY' }} </td>
        </tr>

        <tr>
          <td> {{ fecha }} </td>
          <td> date:'dd - MMMM - YY' (Personalizado) </td>
          <td> {{ fecha |date:'dd - MMMM - YYYY' }} </td>
        </tr>

        <tr>
          <td> {{ fecha }} </td>
          <td> date:'dd  MMMM  YY' (Personalizado) </td>
          <td> {{ fecha |date:'dd  MMMM  YYYY' }} </td>
        </tr>

        <tr>
          <td> {{ idioma }} </td>
          <td> Cambio de idioma (no funcional) 
            <br>
            <button (click)="idioma = 'es'" class="mr-1 btn btn-primary">Español</button>
            <button (click)="idioma = 'en'" class="mr-1 btn btn-secondary">Inglés</button>
            <button (click)="idioma = 'fr'" class="mr-1 btn btn-success">Fracés</button>
          </td>
          <td> {{ idioma  }} </td>
        </tr>

        <tr>
          <td> {{ nombre }} </td>
          <td> Password: {{activar}} 
            <br>
            <button (click)="activar =! activar" class="btn btn-outline-dark"> Activar/Desactivar</button>
          </td>
          <td> {{ nombre  | password:activar}} </td>
        </tr>


      </tbody>
    </table>


    <h3>Slice</h3>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
    </ul>

    <h3>JSON </h3>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
          {{heroe | json}} 
        </pre> <!-- Etiqueta html pre configurada en bootstrap para que no se vea tan feo -->
      </div>
    </div>

    <h3 class="mt-4">Domseguro</h3>
    <hr>
    <div class="row mb-5">
      <div class="col">

        <iframe width="560" height="315" [src]="videoUrl | domseguro" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
        </iframe>

      </div>
    </div>

  </div>
</div>